[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AsynchLong"]
	path = AsynchLong
	url = https://github.com/cran/AsynchLong
[submodule "ChangepointTesting"]
	path = ChangepointTesting
	url = https://github.com/cran/ChangepointTesting
[submodule "CONCUR"]
	path = CONCUR
	url = https://github.com/cran/CONCUR
[submodule "contTimeCausal"]
	path = contTimeCausal
	url = https://github.com/cran/contTimeCausal
[submodule "DOVE"]
	path = DOVE
	url = https://github.com/cran/DOVE
[submodule "dtrSurv"]
	path = dtrSurv
	url = https://github.com/cran/dtrSurv
[submodule "DynTxRegime"]
	path = DynTxRegime
	url = https://github.com/cran/DynTxRegime
[submodule "FastKM"]
	path = FastKM
	url = https://github.com/cran/FastKM
[submodule "GGMridge"]
	path = GGMridge
	url = https://github.com/cran/GGMridge
[submodule "highTtest"]
	path = highTtest
	url = https://github.com/cran/highTtest
[submodule "ICODS"]
	path = ICODS
	url = https://github.com/cran/ICODS
[submodule "iDOVE"]
	path = iDOVE
	url = https://github.com/cran/iDOVE
[submodule "JMdesign"]
	path = JMdesign
	url = https://github.com/cran/JMdesign
[submodule "modelObj"]
	path = modelObj
	url = https://github.com/cran/modelObj
[submodule "OTRselect"]
	path = OTRselect
	url = https://github.com/cran/OTRselect
[submodule "POINT"]
	path = POINT
	url = https://github.com/cran/POINT
[submodule "POSTm"]
	path = POSTm
	url = https://github.com/cran/POSTm
[submodule "ramsvm"]
	path = ramsvm
	url = https://github.com/cran/ramsvm
[submodule "roboBayes"]
	path = roboBayes
	url = https://github.com/cran/roboBayes
[submodule "subdetect"]
	path = subdetect
	url = https://github.com/cran/subdetect
[submodule "SurvLong"]
	path = SurvLong
	url = https://github.com/cran/SurvLong
[submodule "tLagInterim"]
	path = tLagInterim
	url = https://github.com/cran/tLagInterim
[submodule "tLagPropOdds"]
	path = tLagPropOdds
	url = https://github.com/cran/tLagPropOdds
[submodule "VEwaning"]
	path = VEwaning
	url = https://github.com/cran/VEwaning
[submodule "VEwaningVariant"]
	path = VEwaningVariant
	url = https://github.com/cran/VEwaningVariant
